* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

body {
     background-color: #F3F2F7;
}


.flexing {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;

  display: flex;
  align-items: start;
  justify-content: space-around;
  margin-top: 60px;
}

