.leftTop {
  width: 339px;
  height: 614px;
  background-color: white;
  border-radius: 16px;
}

.rightTop {
  width: 1089px;
  height: 485px;
  background-color: white;
  border-radius: 16px;
}

.leftBottom {
  width: 339px;
  height: 471px;
  background-color: white;
  border-radius: 16px;
  margin-top: 40px;
}

.rightBottom {
  width: 1089px;
  height: 599px;
  background-color: white;
  border-radius: 16px;
  margin-top: 40px;
}

.cancelBtn {
  padding: 18px 66px;
  color: #ff5b5b;
  background-color: transparent;
  border: 1px solid #ff5b5b;
  border-radius: 12px;
}

.onDelivery {
  padding: 18px 66px;
  color: white;
  background: #00b074;
  border-radius: 12px;
  margin-left: 40px;
}
