.sideBarLogo {
  margin-bottom: 30px;
}
.sideBarP {
  color: #b9bbbd;
  font-weight: 500;
  margin-bottom: 60px;
  font-size: 18px;
  line-height: 21.6px;
}

.sideBarUl {
  display: flex;
  flex-direction: column;
}

.side-bar-li {
  display: flex;
  align-items: center;
  gap: 24px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.6px;
  color: #464255;
  list-style: none;
  margin-bottom: 10px;
  padding: 15px 70px 15px 20px;
  /* background: #00b07426; */
  border-radius: 8px;
}

.sideAdd {
  background: rgba(0, 176, 116, 1);
  padding: 20px;
  display: flex;
  color: white;
  gap: 20px;
  border-radius: 10px;
  align-items: center;
  margin-top: 75px;
  margin-bottom: 60px;
}

.sideBtn {
  margin-top: 10px;
  font-weight: 500;
  padding: 10px 18px;
  border-radius: 5px;
  font-size: 15px;
  line-height: 24px;
  color: rgba(70, 66, 85, 1);
}

.sideText {
  font-weight: 400;
  color: rgba(150, 155, 160, 1);
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
  margin-bottom: 15px;
}

.sideText2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0px;
  color: rgba(150, 155, 160, 1);
}
.user {
  list-style: none;
  margin-bottom: 15px;
}

.menuLink {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 16px;
  font-size: 16px;
  color: #374151;
  text-decoration: none;
  border-radius: 8px;
  width: 100%;
  padding: 10px;
}

.active .menuLink {
  background: #d1fae5;
  color: #047857;
  font-weight: bold;
}

.color {
  background-color: #047857;
}

.menuLink {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  text-decoration: none;
  color: inherit;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.activeLink {
  background-color: #d9f3ea;
  color: #00b074;
}
